In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [1]:
dataset='/Users/johnjilima/Desktop/DCIT 316 FINAL PROJECT/bot_detection_data.csv'
import pandas as pd
df=pd.read_csv(dataset)

In [2]:
df

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,132131,flong,Station activity person against natural majori...,85,1,2353,False,1,Adkinston,2020-05-11 15:29:50,NaN
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,True,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,True,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
3,696168,pmason,Just cover eight opportunity strong policy which.,54,5,2242,True,1,Martinezberg,2021-08-14 22:27:05,ever quickly new I
4,704441,noah87,Animal sign six data good or.,26,3,8438,False,1,Camachoville,2020-04-13 21:24:21,foreign mention
...,...,...,...,...,...,...,...,...,...,...,...
49995,491196,uberg,Want but put card direction know miss former h...,64,0,9911,True,1,Lake Kimberlyburgh,2023-04-20 11:06:26,teach quality ten education any
49996,739297,jessicamunoz,Provide whole maybe agree church respond most ...,18,5,9900,False,1,Greenbury,2022-10-18 03:57:35,add walk among believe
49997,674475,lynncunningham,Bring different everyone international capital...,43,3,6313,True,1,Deborahfort,2020-07-08 03:54:08,onto admit artist first
49998,167081,richardthompson,Than about single generation itself seek sell ...,45,1,6343,False,0,Stephenside,2022-03-22 12:13:44,star
49999,311204,daniel29,Here morning class various room human true bec...,91,4,4006,False,0,Novakberg,2022-12-03 06:11:07,home

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User ID         50000 non-null  int64
 1   Username        50000 non-null  object
 2   Tweet           50000 non-null  object
 3   Retweet Count   50000 non-null  int64
 4   Mention Count   50000 non-null  int64
 5   Follower Count  50000 non-null  int64
 6   Verified        50000 non-null  bool
 7   Bot Label       50000 non-null  int64
 8   Location        50000 non-null  object
 9   Created At      50000 non-null  object
 10  Hashtags        41659 non-null  object
dtypes: bool(1), int64(5), object(5)
memory usage: 3.9+ MB

In [4]:
print(df.isna().sum())

User ID              0
Username             0
Tweet                0
Retweet Count        0
Mention Count        0
Follower Count       0
Verified             0
Bot Label            0
Location             0
Created At           0
Hashtags          8341
dtype: int64

In [5]:
print(df.isnull().sum())

User ID              0
Username             0
Tweet                0
Retweet Count        0
Mention Count        0
Follower Count       0
Verified             0
Bot Label            0
Location             0
Created At           0
Hashtags          8341
dtype: int64

In [6]:
#adding our own data in missing hastag rows

missing_values_mask=df['Hashtags'].isnull()
#print(missing_values_mask)
df.loc[missing_values_mask,'Hashtags']='No Hashtag'#add No Hashtag at missing cell
print(df['Hashtags'])

0                             No Hashtag
1                              both live
2                            phone ahead
3                     ever quickly new I
4                        foreign mention
                      ...
49995    teach quality ten education any
49996             add walk among believe
49997            onto admit artist first
49998                               star
49999                               home
Name: Hashtags, Length: 50000, dtype: object

In [8]:
#changing datatype of column 'Created At'

# df['Created At']=pd.to_datetime(df['Created At'], format='%Y-%m-%d %H:%M')
# print(df['Created At'].dtypes)

df['Created At'] = pd.to_datetime(df['Created At'], format='%Y-%m-%d %H:%M:%S')
print(df['Created At'].dtypes)

datetime64[ns]

In [9]:
#summary statistics
df.describe()

,User ID,Retweet Count,Mention Count,Follower Count,Bot Label,Created At
count,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000,50000
mean,548890.680540,50.00560,2.513760,4988.602380,0.500360,2021-09-14 06:15:49.674619904
min,100025.000000,0.00000,0.000000,0.000000,0.000000,2020-01-01 00:44:14
25%,323524.250000,25.00000,1.000000,2487.750000,0.000000,2020-11-03 09:24:48.500000
50%,548147.000000,50.00000,3.000000,4991.500000,1.000000,2021-09-16 20:59:38
75%,772983.000000,75.00000,4.000000,7471.000000,1.000000,2022-07-23 02:17:01.750000128
max,999995.000000,100.00000,5.000000,10000.000000,1.000000,2023-05-31 07:53:27
std,259756.681425,29.18116,1.708563,2878.742898,0.500005,NaN

In [10]:
df

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,132131,flong,Station activity person against natural majori...,85,1,2353,False,1,Adkinston,2020-05-11 15:29:50,No Hashtag
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,True,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,True,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
3,696168,pmason,Just cover eight opportunity strong policy which.,54,5,2242,True,1,Martinezberg,2021-08-14 22:27:05,ever quickly new I
4,704441,noah87,Animal sign six data good or.,26,3,8438,False,1,Camachoville,2020-04-13 21:24:21,foreign mention
...,...,...,...,...,...,...,...,...,...,...,...
49995,491196,uberg,Want but put card direction know miss former h...,64,0,9911,True,1,Lake Kimberlyburgh,2023-04-20 11:06:26,teach quality ten education any
49996,739297,jessicamunoz,Provide whole maybe agree church respond most ...,18,5,9900,False,1,Greenbury,2022-10-18 03:57:35,add walk among believe
49997,674475,lynncunningham,Bring different everyone international capital...,43,3,6313,True,1,Deborahfort,2020-07-08 03:54:08,onto admit artist first
49998,167081,richardthompson,Than about single generation itself seek sell ...,45,1,6343,False,0,Stephenside,2022-03-22 12:13:44,star
49999,311204,daniel29,Here morning class various room human true bec...,91,4,4006,False,0,Novakberg,2022-12-03 06:11:07,home

In [11]:
# Assuming you have a DataFrame named 'data' with multiple columns

# List of columns to drop
columns_to_drop = ['User ID', 'Retweet Count', 'Mention Count','Follower Count','Verified','Bot Label','Hashtags']

# Drop the specified columns from the DataFrame
data_dropped = df.drop(columns=columns_to_drop)

# Get value counts for each remaining column
column_counts = {}
for column in data_dropped.columns:
    column_counts[column] = data_dropped[column].value_counts()

# Print the value counts for each column
for column, counts in column_counts.items():
    print(f"Value counts for {column}:")
    print(counts)
    print()

Value counts for Username:
Username
ksmith             21
usmith             16
msmith             16
vmiller            15
ismith             13
                   ..
jessica57           1
ggraham             1
john93              1
gallowaymichael     1
daniel29            1
Name: count, Length: 40566, dtype: int64

Value counts for Tweet:
Tweet
Station activity person against natural majority none few size expect six marriage.        1
Institution second billion over song either arm.                                           1
However plan meeting certain dinner card produce wear whether give hour something.         1
Total least today until clear nearly economy book single with successful.                  1
Full likely beautiful example partner process top catch control natural lead push help.    1
                                                                                          ..
News society threat positive someone accept stand pressure life so describe pretty.        1
Station son hospital figure various visit.                                                 1
Friend day town professional simply anyone this or third join somebody current.            1
Real chair class order camera tough candidate key nearly car probably hotel.               1
Here morning class various room human true because lot send attention.                     1
Name: count, Length: 50000, dtype: int64

Value counts for Location:
Location
South Michael        44
Lake Michael         40
North Jennifer       38
North Michael        38
Lake David           37
                     ..
Lake Sarahchester     1
Port Tiffanyberg      1
New Jasonbury         1
Payneshire            1
Deborahfort           1
Name: count, Length: 25199, dtype: int64

Value counts for Created At:
Created At
2021-02-07 06:50:00    2
2020-07-06 03:01:16    2
2022-05-19 01:32:03    2
2020-06-06 06:17:41    2
2020-11-21 14:03:59    2
                      ..
2021-07-24 23:40:50    1
2022-12-05 00:53:29    1
2021-03-05 02:48:14    1
2021-05-10 02:48:49    1
2022-12-03 06:11:07    1
Name: count, Length: 49989, dtype: int64

In [12]:
#identify inconsistent formatting for textual(categorical too) columns

print(df['Hashtags'].value_counts())

Hashtags
No Hashtag                            8341
area                                    21
big                                     20
treat                                   19
ground                                  18
                                      ...
president conference field process       1
market live mouth sit wide               1
your five                                1
serious not Democrat                     1
onto admit artist first                  1
Name: count, Length: 34248, dtype: int64

In [13]:
import matplotlib.pyplot as plt

# Filter data based on bot label
bot_data = df[df['Bot Label'] == 1]
non_bot_data = df[df['Bot Label'] == 0]

In [14]:
bot_followers_stats = bot_data['Follower Count'].describe()
non_bot_followers_stats = non_bot_data['Follower Count'].describe()

bot_retweet_stats = bot_data['Retweet Count'].describe()
non_bot_retweet_stats = non_bot_data['Retweet Count'].describe()

bot_mention_stats = bot_data['Mention Count'].describe()
non_bot_mention_stats = non_bot_data['Mention Count'].describe()


print("Follower Count Statistics:")
print("Bot Accounts:")
print(bot_followers_stats)
print("\nNon-Bot Accounts:")
print(non_bot_followers_stats)

print("\nRetweet Count Statistics:")
print("Bot Accounts:")
print(bot_retweet_stats)
print("\nNon-Bot Accounts:")
print(non_bot_retweet_stats)

print("\nMention Count Statistics:")
print("Bot Accounts:")
print(bot_mention_stats)
print("\nNon-Bot Accounts:")
print(non_bot_mention_stats)

Follower Count Statistics:
Bot Accounts:
count    25018.000000
mean      4991.944280
std       2876.289818
min          0.000000
25%       2497.000000
50%       4978.000000
75%       7468.000000
max      10000.000000
Name: Follower Count, dtype: float64

Non-Bot Accounts:
count    24982.000000
mean      4985.255664
std       2881.251104
min          0.000000
25%       2480.250000
50%       5007.500000
75%       7472.000000
max      10000.000000
Name: Follower Count, dtype: float64

Retweet Count Statistics:
Bot Accounts:
count    25018.000000
mean        50.042050
std         29.171048
min          0.000000
25%         25.000000
50%         50.000000
75%         75.000000
max        100.000000
Name: Retweet Count, dtype: float64

Non-Bot Accounts:
count    24982.000000
mean        49.969098
std         29.191822
min          0.000000
25%         25.000000
50%         50.000000
75%         75.000000
max        100.000000
Name: Retweet Count, dtype: float64

Mention Count Statistics:
Bot Accounts:
count    25018.000000
mean         2.501959
std          1.704641
min          0.000000
25%          1.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: Mention Count, dtype: float64

Non-Bot Accounts:
count    24982.000000
mean         2.525578
std          1.712435
min          0.000000
25%          1.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: Mention Count, dtype: float64

In [15]:
#label encoding of boolean data
from sklearn.preprocessing import LabelEncoder

label_encoder=LabelEncoder()
df['Verified']=label_encoder.fit_transform(df['Verified'])
df

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,132131,flong,Station activity person against natural majori...,85,1,2353,0,1,Adkinston,2020-05-11 15:29:50,No Hashtag
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,1,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,1,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
3,696168,pmason,Just cover eight opportunity strong policy which.,54,5,2242,1,1,Martinezberg,2021-08-14 22:27:05,ever quickly new I
4,704441,noah87,Animal sign six data good or.,26,3,8438,0,1,Camachoville,2020-04-13 21:24:21,foreign mention
...,...,...,...,...,...,...,...,...,...,...,...
49995,491196,uberg,Want but put card direction know miss former h...,64,0,9911,1,1,Lake Kimberlyburgh,2023-04-20 11:06:26,teach quality ten education any
49996,739297,jessicamunoz,Provide whole maybe agree church respond most ...,18,5,9900,0,1,Greenbury,2022-10-18 03:57:35,add walk among believe
49997,674475,lynncunningham,Bring different everyone international capital...,43,3,6313,1,1,Deborahfort,2020-07-08 03:54:08,onto admit artist first
49998,167081,richardthompson,Than about single generation itself seek sell ...,45,1,6343,0,0,Stephenside,2022-03-22 12:13:44,star
49999,311204,daniel29,Here morning class various room human true bec...,91,4,4006,0,0,Novakberg,2022-12-03 06:11:07,home

In [16]:
df

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,132131,flong,Station activity person against natural majori...,85,1,2353,0,1,Adkinston,2020-05-11 15:29:50,No Hashtag
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,1,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,1,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
3,696168,pmason,Just cover eight opportunity strong policy which.,54,5,2242,1,1,Martinezberg,2021-08-14 22:27:05,ever quickly new I
4,704441,noah87,Animal sign six data good or.,26,3,8438,0,1,Camachoville,2020-04-13 21:24:21,foreign mention
...,...,...,...,...,...,...,...,...,...,...,...
49995,491196,uberg,Want but put card direction know miss former h...,64,0,9911,1,1,Lake Kimberlyburgh,2023-04-20 11:06:26,teach quality ten education any
49996,739297,jessicamunoz,Provide whole maybe agree church respond most ...,18,5,9900,0,1,Greenbury,2022-10-18 03:57:35,add walk among believe
49997,674475,lynncunningham,Bring different everyone international capital...,43,3,6313,1,1,Deborahfort,2020-07-08 03:54:08,onto admit artist first
49998,167081,richardthompson,Than about single generation itself seek sell ...,45,1,6343,0,0,Stephenside,2022-03-22 12:13:44,star
49999,311204,daniel29,Here morning class various room human true bec...,91,4,4006,0,0,Novakberg,2022-12-03 06:11:07,home

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User ID         50000 non-null  int64
 1   Username        50000 non-null  object
 2   Tweet           50000 non-null  object
 3   Retweet Count   50000 non-null  int64
 4   Mention Count   50000 non-null  int64
 5   Follower Count  50000 non-null  int64
 6   Verified        50000 non-null  int64
 7   Bot Label       50000 non-null  int64
 8   Location        50000 non-null  object
 9   Created At      50000 non-null  datetime64[ns]
 10  Hashtags        50000 non-null  object
dtypes: datetime64[ns](1), int64(6), object(4)
memory usage: 4.2+ MB

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack
# Combine all text columns into a single Series
text_data = df['Tweet'] + ' ' + df['Username'] + ' ' + df['Hashtags']+' '+df['Location']

# Text vectorization using TF-IDF (sparse representation)
vectorizer = TfidfVectorizer()
text_sparse = vectorizer.fit_transform(text_data)

In [19]:
# Combine text features with additional features

additional_features = df[['Retweet Count', 'Verified','Mention Count','Follower Count','Created At']]

In [20]:
additional_features['Created At'] = additional_features['Created At'].astype(int)  # Convert to Unix timestamp
additional_features = additional_features.astype('float64')  # Convert to float64
text_sparse = text_sparse.astype('float64')

/var/folders/3c/mnf59n6d2tj10v6pg4c26tfc0000gp/T/ipykernel_5807/1003833889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  additional_features['Created At'] = additional_features['Created At'].astype(int)  # Convert to Unix timestamp

In [21]:


combined_sparse = hstack((text_sparse, additional_features))

In [25]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import train_test_split

# from sklearn.ensemble import GradientBoostingClassifier
# from sklearn.metrics import classification_report


# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(combined_sparse, df['Bot Label'], test_size=0.2, random_state=42)

# # Create an instance of the Random Forest classifier
# # rf_classifier = RandomForestClassifier()

# # # Train the Random Forest classifier
# # rf_classifier.fit(X_train, y_train)


# # Create an instance of the Gradient Boosting classifier
# gb_classifier = GradientBoostingClassifier()

# # Train the Gradient Boosting classifier
# gb_classifier.fit(X_train, y_train)

GradientBoostingClassifier()

In [41]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(combined_sparse, df['Bot Label'], test_size=0.2, random_state=42)

# Standardize the input features
scaler = StandardScaler(with_mean=False)
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Manually create a validation split
split_index = int(X_train_scaled.shape[0] * 0.8)
X_train_split, X_val_split = X_train_scaled[:split_index], X_train_scaled[split_index:]
y_train_split, y_val_split = y_train[:split_index], y_train[split_index:]

# Convert sparse matrices to dense arrays
X_train_dense = X_train_split.toarray()
X_val_dense = X_val_split.toarray()

# Create a neural network model
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(X_train_dense.shape[1],)))
model.add(Dropout(0.3))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train_dense, y_train_split, epochs=10, batch_size=64, validation_data=(X_val_dense, y_val_split))

# Convert the test data to dense array
X_test_dense = X_test_scaled.toarray()

# Evaluate the model on the test set
loss, accuracy = model.evaluate(X_test_dense, y_test)
print(f"Test accuracy: {accuracy:.4f}")

Epoch 1/10
500/500 [==============================] - 10s 20ms/step - loss: 0.7130 - accuracy: 0.5004 - val_loss: 0.6950 - val_accuracy: 0.4921
Epoch 2/10
500/500 [==============================] - 8s 15ms/step - loss: 0.5612 - accuracy: 0.7147 - val_loss: 0.7289 - val_accuracy: 0.4978
Epoch 3/10
500/500 [==============================] - 8s 15ms/step - loss: 0.2464 - accuracy: 0.8992 - val_loss: 0.8703 - val_accuracy: 0.4933
Epoch 4/10
500/500 [==============================] - 8s 16ms/step - loss: 0.0844 - accuracy: 0.9683 - val_loss: 1.0919 - val_accuracy: 0.4927
Epoch 5/10
500/500 [==============================] - 8s 16ms/step - loss: 0.0372 - accuracy: 0.9863 - val_loss: 1.3945 - val_accuracy: 0.4909
Epoch 6/10
500/500 [==============================] - 8s 15ms/step - loss: 0.0213 - accuracy: 0.9923 - val_loss: 1.5564 - val_accuracy: 0.4950
Epoch 7/10
500/500 [==============================] - 8s 16ms/step - loss: 0.0133 - accuracy: 0.9953 - val_loss: 1.7749 - val_accuracy: 0.4920
Epoch 8/10
500/500 [==============================] - 8s 17ms/step - loss: 0.0095 - accuracy: 0.9970 - val_loss: 1.8737 - val_accuracy: 0.4889
Epoch 9/10
500/500 [==============================] - 8s 15ms/step - loss: 0.0093 - accuracy: 0.9970 - val_loss: 1.8827 - val_accuracy: 0.4840
Epoch 10/10
500/500 [==============================] - 8s 15ms/step - loss: 0.0072 - accuracy: 0.9973 - val_loss: 1.9980 - val_accuracy: 0.4890
313/313 [==============================] - 1s 3ms/step - loss: 2.3764 - accuracy: 0.5133
Test accuracy: 0.5133